################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AutotaskCLI/v15
/AutotaskCLI/obj/Debug/TempPE
/AutotaskCLI/obj/Debug
/AutotaskCLI/obj/Release
/output
*.sqlite
/scratch.ps1
/temp.ps1
/.vs
/AutotaskCLI/bin/Debug
