<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ATWSSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ATWSSoap1" />
                <binding name="ATWSSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="ATWSSoap3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webservices.autotask.net/ATServices/1.6/atws.asmx"
                binding="basicHttpBinding" bindingConfiguration="ATWSSoap"
                contract="Autotask.ATWSSoap" name="ATWSSoap" />
            <endpoint address="https://webservices.autotask.net/ATServices/1.5/atws.asmx"
                binding="basicHttpBinding" bindingConfiguration="ATWSSoap2"
                contract="AutotaskLegacy.ATWSSoap" name="ATWSSoap1" />
        </client>
    </system.serviceModel>
</configuration>